::selection {
  background: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}
div {
    width: 70vw;
    margin: auto;
    margin-top: 2.5vw;
    background-color: transparent;
    border: 3px solid black;
    text-align: center;
    vertical-align: middle;
}

#main {
    border: none;
    margin-top: 2vw;
    width: 40vw;
    text-align: center;
}

#input {
    width: 87%;
    height: 35px;
    margin: 1%;
    margin-right: 0;
    text-align: center;
    font-size: 26px;
    vertical-align: middle;
    color: rgb(0, 28, 147);
    background-color: transparent;
    border: solid 3px black;
}

input[type=text]:focus, textarea:focus {
    outline: none;
}

button {
    width: 8%;
    height: 42px;
    border: solid 3px black;
    background-color: transparent;
    color: rgb(0, 28, 147);
    margin: 1%;
    vertical-align: middle;
    font-size: 18px;
    -webkit-transition: border-color 0.20s ease-in-out;
    -moz-transition: border-color 0.20s ease-in-out;
    -ms-transition: border-color 0.20s ease-in-out;
    -o-transition: border-color 0.20s ease-in-out;
}

button:hover {
    border-color: rgb(0, 28, 147);
}


body {
    background-color: #ebebeb;
}

p {
    font-size: 24px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 20px;
    text-align: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    color: rgb(98, 98, 98);
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 200;
    margin-top: 50px;
}

