div {
    width: 70vw;
    margin: auto;
    margin-top: 2.5vw;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 0.5vw;
    text-align: center;
    vertical-align: middle;
}

input[type=text], textarea {
  -webkit-transition: box-shadow 0.30s ease-in-out;
  -moz-transition: box-shadow 0.30s ease-in-out;
  -ms-transition: box-shadow 0.30s ease-in-out;
  -o-transition: box-shadow 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 15px rgb(95, 75, 181);
}

#main {
    border: none;
    margin-top: 2vw;
}

#input {
    width: 87%;
    height: 35px;
    margin: 1%;
    margin-right: 0;
    text-align: center;
    font-size: 26px;
    vertical-align: middle;
    color: rgb(135, 107, 255);
}

button {
    width: 8%;
    height: 38px;
    border-radius: 0.5vw;
    border: solid 3px white;
    background-color: transparent;
    color: white;
    margin: 1%;
    vertical-align: middle;
    font-size: 18px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button:hover {
    color: rgb(183, 166, 255);
    background-color: white;
}


body {
    background-color: rgb(183, 166, 255);
}